* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    max-height: 100vh;
    background-color: #F3F3F3;
    display: flex;
    /* alinha os elementos na horizontal de acordo com o valor definido */
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img {
    height: 50rem;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    padding: 1.3rem 0;
    border: 0.071rem solid #D3D3D3;
}

/* :nth-child = permite acessar os filhos de um elemento utilizando as posições dentro do elemento pai */
.group:nth-child(1) {
    min-height: 19rem;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.login {
    background-color: #0095f6;
    color: #FFF;
    padding: 0.571rem;
    border-radius: 0.286rem;
}

.logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: #a0a0a0;
}
